# Ignore all files in the faiss_indexes directory
faiss_indexes/*
logs/*
vectordb_log_*
.gradio
.ipynb_checkpoints
*.pyc
__pycache__/
*.pkl
keys.py
*.env
*.log
results/*
data/*
heideltime
*.log
faiss_indexes_gcs/*

# Milvus database files
*.db
*.db-shm
*.db-wal
.milvus_lite_v2.db.lock

# Image backup folders
image_data/*
news_data/*

# Generated mapping files
*_mappings.json
prepared_*.json
manual_mappings*.json